body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

.titleList{
  /*cursor: pointer;*/
  position: relative;
  padding: 12px 0px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 30px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleList:nth-child(odd) {
  background: #f9f9f9;
}

.buttons{
  align-items: flex-start;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 0.5em;
  -ms-flex-item-align: auto;
  /* border-right-width: 0; */
  /* margin-right: 0; */
}

/* Darker background-color on hover */

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.titleInput {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}



.undoneItem {
  font-size: 0.5em;
}
.doneItem {
  font-size: 0.5em;
  text-decoration: line-through;
  background: crimson;
}


/* Add a "checked" mark when clicked on */
.doneItem::before {
  content: '';
  position: absolute;
  border-color:black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
